<div class="section boxed images admin">

	{{#if currentCategoryName}}
	<h2>{{currentSubCategoryName}}</h2>
	{{else}}
	<h2>Alle billeder</h2>
	{{/if}}

	{{#if images}}
	<ul>
		{{#each images}}
    	<li>
			<div class="item{{#if muted}} is-muted{{/if}}{{#if featured}} is-featured{{/if}}">
        		<a href="/admin/image/{{id}}" class="image-wrap">
            		<img src="/images/thumb/large/{{imageurl}}" alt="{{title}}"/>
        		</a>
        		<p class="item-title">{{title}}</span></p>
        		{{#if description}}
        		<p class="item-description">{{description}}</p>
        		{{/if}}
        		<div class="utilities">
        			<a href="/admin/delete/{{id}}" class="utility delete">Slet</a>
        			{{#if muted}}
        				<a href="/admin/unmute/{{id}}" class="utility unmute">Vis</a>
        			{{else}}
        				<a href="/admin/mute/{{id}}" class="utility mute">Skjul</a>
        			{{/if}}
        			{{#if featured}}
        				<a href="/admin/unfeature/{{id}}" class="utility unfeature">Fjern fra forsiden</a>
        			{{else}}
        				<a href="/admin/feature/{{id}}" class="utility feature">Vis på forsiden</a>
        			{{/if}}
        		</div>
        	</div>
    	</li>
		{{/each}}
	</ul>
	{{else}}
	<p>Ingen billeder i denne kategori</p>
	<button class="hest">hest</button>
	{{/if}}
</div>
