{{#if nav}}
	<ul>
	{{#nav}}
		<li {{#equal ../currentCategory name }} class="active" {{/equal}}>
			<!--<a href="/{{name}}">{{name}}</a>-->
			<span>{{name}}</span>
			{{#if subcategory}}
				<ul>
				{{#subcategory}}
					<li {{#equal ../../../currentSubCategory name }} class="active" {{/equal}}>
						<a href="/{{../name}}/{{name}}">{{name}}</a>
					</li>
				{{/subcategory}}
				</ul>
			{{/if}}
		</li>
	{{/nav}}
		<li {{#equal ../currentCategory "cv" }} class="active" {{/equal}}>
			<a href="/cv">CV</a>
		</li>
		<li {{#equal ../currentCategory "kontakt" }} class="active" {{/equal}}>
			<a href="/kontakt">Kontakt</a>
		</li>
	</ul>
{{/if}}
