<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}</title>
		<!-- Styles -->
        <link href="/css/base.css" rel="stylesheet"/>
		<!-- Scripts -->
        <script src="/js/lib/min.js/src/$.js"></script>
        <script src="/js/lib/xhr.js/xhr.js"></script>
    </head>

    <body>
        <div class="site-wrapper">

            <div class="site-id" role="banner">
                <div class="site-logo">
                    <a href="/">Forsiden</a>
                </div>
                {{>nav}}
            </div>

            <div class="site-content">
                {{{body}}}
            </div>

        </div>
		<!-- Scripts -->
        <script src="/js/base.js"></script>
    </body>
</html>

