<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<!-- Styles -->
        <link href="/css/normalize.css" rel="stylesheet"/>
        <link href="/css/base.css" rel="stylesheet"/>
		<!-- Scripts -->
        <script src="/js/lib/min.js/src/$.js"></script>
        <script src="/js/lib/xhr.js/xhr.js"></script>
    </head>

    <body>
        <div class="site-wrapper">

            <div class="site-id section boxed-band" role="banner">
                <div class="site-logo">
                    <a href="/"><img src="/graphics/sassi-logo.gif"/></a>
                </div>
                {{>nav}}
            </div>

            <div class="site-content">
                {{{body}}}
            </div>

        </div>
		<!-- Scripts -->
        <script src="/js/base.js"></script>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-9647211-1', 'sassi.dk');
		ga('send', 'pageview');
		</script>
    </body>
</html>

<!--<script>
	// Only load frameworks for browsers that cuts the mustard
	/*if( 'querySelector' in document && 'addEventListener' in window && Array.prototype.forEach ) {
		[
 			'/js/lib/min.js/src/$.js',
 			'/js/lib/xhr.js/xhr.js'
		].forEach(function(src) {
			var script = document.createElement('script');
			script.src = src;
			script.async = false;
			document.head.appendChild(script);
		});
	}
	// Else load something else
	else {
		var head = document.getElementsByTagName('head')[0];
		var js = document.createElement("script");
		js.type = "text/javascript";
		js.src = "js/mobile_version.js";
		head.appendChild(js);
	}*/
</script>-->
