/* RESET */
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.2;
    color: #333;
    background-color: #fff;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover,
a:active {
    color: #a00;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* combine-layout: https://gist.github.com/4008294 */
.combine-layout {
    height: 100%;
    text-align: right;
    /* align inline-blocks right */
    font-size: 0;
    /* make sure whitespace between inline-blocks doesn't ruin the layout */
    /* handle margin between blocks */
    margin: 0 -10px;
}
.combine-layout:after {
    /* clear those floats */
    display: table;
    clear: both;
    content: " ";
}
.combine-layout > * {
    float: left;
    /* float blocks by default */
    text-align: left;
    /* reset text-align right */
    font-size: 13px;
    /* reset font-size to something sane */
    min-height: 10px;
}
.combine-layout > .break {
    clear: left;
    /* make sure floated blocks start new row with .break */
}
.combine-layout > .break,
.combine-layout > .break ~ * {
    margin-top: 20px;
}
/*.combine-layout,
.section {
    margin-top: 20px;
}*/
[class*="span-"] > .section:first-child {
	margin-top: 0;
}

/* SPANS */
.span-12,
.span-10,
.span-9,
.span-8,
.span-7,
.span-6,
.span-5,
.span-4,
.span-3,
.span-2 {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.span-12 {
    width: 100%;
}
.span-11 {
    width: 91.66666666666666%;
}
.span-10 {
    width: 83.33333333333334%;
}
.span-9 {
    width: 75%;
}
.span-8 {
    width: 66.66666666666666%;
}
.span-7 {
    width: 58.333333333333336%;
}
.span-6 {
    width: 50%;
}
.span-5 {
    width: 41.66666666666667%;
}
.span-4 {
    width: 33.33333333333337%;
}
.span-3 {
    width: 25%;
}
.span-2 {
    width: 16.666666666666664%;
}

/* SECTIONS */
.boxed,
.boxed-band,
.boxed-band:before,
.boxed-band:after,
.boxed-image {
    background-color: #fff;
    border-bottom: 0 solid transparent;
    position: relative;
}
.boxed-band {
	overflow: hidden;
}
.boxed,
.boxed-image {
    padding: 20px;
}
.boxed::before {
	/*content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: transparent;
	-webkit-box-shadow: 0px 0px 1px #666;
	-moz-box-shadow: 0px 0px 1px #666;
	-ms-box-shadow: 0px 0px 1px #666;
	box-shadow: 0px 0px 1px #666;
	border-collapse: separate;*/
}
.boxed > .combine-layout,
.boxed-image > .combine-layout {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.boxed > .combine-layout + .combine-layout,
.boxed-image > .combine-layout + .combine-layout {
	margin-top: 20px;
}
.boxed-band {
    position: relative;
}
.boxed-band:before,
.boxed-band:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000px;
    height: 100%;
    display: block;
}
.boxed-band:before {
    right: 100%;
}
.boxed-band:after {
    left: 100%;
}
.boxed .boxed {
	padding: 10px;
	background-color: #f5f5f5;
}
.boxed .boxed:after {
	clear: both;
	display: table;
	content: " ";
}

/* IMAGES */
.image-wrap {
  width: 100%;
  zoom: 1;
  *zoom: 1;
  margin-bottom: 5px;
}
.image-wrap:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.image-wrap:before,
.image-wrap:after {
  content: " ";
  display: table;
}
.image-wrap:after {
  clear: both;
}
.image-wrap img {
  width: 100%;
  height: auto;
  display: block;
}

/* IMAGE MODES */
[class*="image-"] .image-wrap {
  float: left;
  padding-right: 10px;
}
.span-6 .image-2 .image-wrap {
  width: 50%;
}
.span-6 .image-2 .image-wrap ~ * {
  margin-left: 50%;
  padding-left: 0px;
}
.span-4 .image-2 .image-wrap {
  width: 50%;
}
.span-4 .image-2 .image-wrap ~ * {
  margin-left: 50%;
  padding-left: 0px;
}
.span-4 .image-1 .image-wrap {
  width: 26.666666666666668%;
  padding-right: 0px;
}
.span-4 .image-1 .image-wrap ~ * {
  margin-left: 26.666666666666668%;
  padding-left: 0px;
}
.span-3 .image-2 .image-wrap {
  width: 33.33333333333333%;
}
.span-3 .image-2 .image-wrap ~ * {
  margin-left: 33.33333333333333%;
  padding-left: 0px;
}
.span-3 .image-1 .image-wrap {
  width: 36.36363636363637%;
  padding-right: 0px;
}
.span-3 .image-1 .image-wrap ~ * {
  margin-left: 36.36363636363637%;
  padding-left: 0px;
}

/* FORMS */
form {
	background-color: #f2f2f2;
}
form > h1 {
	margin: 0 auto 10px;
}
form > label {
	display: block;
	position: relative;
}
form > label + label {
	margin-top: 10px;
}
form > label > span {
	display: block;
	font-size: 16px;
	font-weight: 700;
}
form label input[type="radio"] + span,
form > label input[type="radio"] + span,
form label input[type="checkbox"] + span,
form > label input[type="checkbox"] + span {
	position: relative;
	display: block;
}
form label input[type="text"],
form > label input[type="text"],
form label input[type="password"],
form > label input[type="password"],
form label input[type="email"],
form > label input[type="email"],
form label input[type="tel"],
form > label input[type="tel"],
form label input[type="number"],
form > label input[type="number"],
form label textarea,
form > label textarea,
form label select,
form > label select {
	width: 50%;
	height: 40px;
	border: 1px solid #B8B8B8;
	color: #000;
	padding: 11px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
form label input[type="text"],
form > label input[type="text"],
form label input[type="password"],
form > label input[type="password"],
form label input[type="email"],
form > label input[type="email"],
form label input[type="tel"],
form > label input[type="tel"],
form label input[type="number"],
form > label input[type="number"],
form label textarea,
form > label textarea {
	font-family: monospace;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#fff));
	background-image: -webkit-linear-gradient(top, #fcfcfc, #fff); 
	background-image:    -moz-linear-gradient(top, #fcfcfc, #fff);
	background-image:     -ms-linear-gradient(top, #fcfcfc, #fff);
	background-image:      -o-linear-gradient(top, #fcfcfc, #fff); 
	-moz-box-shadow:    inset 0 0 10px #d9d9d9;
	-webkit-box-shadow: inset 0 0 10px #d9d9d9;
	box-shadow:         inset 0 0 10px #d9d9d9;
}
form label input[type="file"],
form > label input[type="file"] {
	border: none;
	background-color: #f2f2f2;
}
form label textarea,
form > label textarea {
	height: 158px;
}
form label select,
form > label select {
	width: 30%;
	height: 30px;
	padding: 5px 5px 5px 10px;
	font-size: 16px;
	/*-webkit-appearance: none;
	border-radius: 0;
	position: relative;
	z-index: 2;
	background: #FFF none;
	-webkit-box-shadow: 0 0 0 transparent;
	-khtml-box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
	-ms-box-shadow: 0 0 0 transparent;
	-o-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;*/
}
form label select option,
form > label select option {
	margin-bottom: 5px;
	font-size: 16px;
}
.checkbox-group,
.radio-group {
	margin-top: 20px;
}
.checkbox-group label,
.radio-group label {
	margin-top: 10px;
}
input,
textarea {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
}
form > button {
	margin-top: 10px;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

/* STATES */
.is-featured {
	background-color: #f5f5f5;
}
.is-muted {
	color: #aaa;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 1px #ccc;
	-moz-box-shadow: 0px 0px 1px #ccc;
	-ms-box-shadow: 0px 0px 1px #ccc;
	box-shadow: 0px 0px 1px #ccc;
}
.is-muted img {
	opacity: 0.3;
}

/* UTILITIES */
.utilities {
	max-height: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 !important;
	padding: 0;
	line-height: 60px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 3px 5px -2px #999;
	transition: max-height 300ms;
}
.utility {
	display: inline-block !important;
	margin: 0;
	padding: 0;
	font-family: 'Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    font-size: 12px;
	color: #999;
	text-decoration: none;
}
.utility:hover {
	color: #333;
}
.utility + .utility {
	margin-left: 5px;
}
.utility + .utility:before {
	content: "·";
	margin-right: 5px;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	-webkit-transition: opacity 300ms ease-in;
	-moz-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in;
	pointer-events: none;
}
.modal > div {
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 40px;
	background: #fff;
	border-radius: 2px 0 2px 2px;
}
.modal > div > .close-dialog {
	position: absolute;
	z-index: 2;
	top: -30px;
	right: 0;
	padding: 10px 10px 5px;
	color: #666;
	background-color: #fff;
	border-radius: 2px 2px 0 0;
}
.modal > div > .close-dialog:hover {
	color: #333;
	text-decoration: underline;
}
.modal form {
	background-color: #fff;
}
.modal form label input[type="text"],
.modal form > label input[type="text"],
.modal form label input[type="password"],
.modal form > label input[type="password"],
.modal form label input[type="email"],
.modal form > label input[type="email"],
.modal form label input[type="tel"],
.modal form > label input[type="tel"],
.modal form label input[type="number"],
.modal form > label input[type="number"],
.modal form label textarea,
.modal form > label textarea {
	width: 100%;
}
/*
 * Experimental Device State Detection with CSS Media Queries and JavaScript
 * See this from David Walsh:
 * http://davidwalsh.name/device-state-detection-css-media-queries-javascript
 */
.state-indicator {
	position: absolute;
	top: -999em;
	left: -999em;
}
.state-indicator:before { 
	display: none;
}

/* SITE GRID */
.site-wrapper {}
/* - header + logo */
.site-id {
	margin-top: 0;
	padding: 0 1em;
	/*text-align: center;*/
}
/*.site-id.boxed-band,
.site-id.boxed-band:before,
.site-id.boxed-band:after {
	background-color: #f2f6fa;
}*/
.site-logo {
	display: block;
	/*display: inline-block;*/
}
.site-logo > a {
	display: block;
	width: 100px;
}
.site-logo > a img {
	display: block;
	width: 100%;
	max-width: 100%;
}
/* - navigation */
.site-id > ul {
	display: inline-block;
	overflow: hidden;
	margin: 20px 0 0;
	font-size: 0;
}
.site-id li {
	display: block;
}
.site-id li + li {
	margin-top: 20px;
}
.site-id li > a,
.site-id li > span {
	display: block;
	font-size: 16px;
    text-transform: uppercase;
}
.site-id li.active > a,
.site-id li.active > span {
    color: #a00;
}
.site-id li.active > a {
	text-decoration: underline;
}
.site-id li > ul {
	padding-left: 20px;
}
.site-id li > ul li + li {
	margin-top: 5px;
}
.site-id li > ul li.active > a {
}
.site-id li > ul a {
	display: block;
	font-size: 16px;
    text-transform: none;
}
/* - content */
/* - wide screen */
.state-indicator:before { content: 'wide'; }
.site-id {
	float: left;
	width: 20%;
}
.site-content {
	width: auto;
}
.admin .site-id,
.admin .site-content {
	float: none;
	position: relative;
	width: 100%;
	padding-top: 40px;
}
/*.site-id,
.site-content {
	margin: 0 auto;
	width: 100em; [> 1600px <]
}*/
.images li {
	width: 200px;
	margin: 10px;
}

/* - large screen */
@media all and (max-width: 99em) { /* 1584px */
    .state-indicator:before { content: 'large'; }
	/*.site-id,
	.site-content {
		width: 80em; [> 1280px <]
	}*/
}

/* - medium screen */
@media all and (max-width: 81em) { /* 1296px */
    .state-indicator:before { content: 'medium'; }
	.site-id {
	}
	.site-content {
	}
	.site-content {
	}
}

/* - small screen */
@media all and (max-width: 48em) { /* 768px */
    .state-indicator:before { content: 'small'; }
	.site-id li {
		margin-left: 0;
	}
	.site-id li + li {
		margin-left: 20px;
	}
	.site-id li > a {
		padding: 2px;
	}
}

/* - tiny screen */
@media all and (max-width: 19em) { /* 304px */
    .state-indicator:before { content: 'tiny'; }
	.images li {
		width: 100%;
	}
}

/* PAGES */
.images {
	text-align: center;
}
.images > ul {
	overflow: hidden;
	font-size: 0;
}
.images li {
	display: inline-block;
}
.images .item {
	position: relative;
	overflow: hidden;
}
.images .item > p {
	position: absolute;
	left: -100%;
	top: -100%;
}

.contact > h1,
.cv > h1 {
	text-align: center;
}

.admin .toolbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #f5f5f5;
	box-shadow: 0 -5px 15px 0 #333;
	border-bottom: 1px solid #e0e0e0;
}
.admin .toolbar ul {
	position: absolute;
	top: 0;
	left: 0;
}
.admin .toolbar .tools {
	margin-left: 2em;
}
.admin .toolbar .tools:first-child {
	margin-left: 0;
}
.admin #addimage:target,
.admin #addimages:target,
.admin #addsubcategory:target,
.admin #addcategory:target,
.admin #editcategory:target,
.admin #editsubcategory:target {
	z-index: 99999;
	opacity:1;
	pointer-events: auto;
	/*position: static;*/
	/*max-height: 999px;*/
}
.admin .images .sort {
	font-size: 13px;
}
.admin .images .sort > li {
	vertical-align: top;
}
.admin .images .sort > li > span {
	font-weight: 700;
}
.admin .images .item > p {
	position: static;
}

.admin .item {
	padding: 10px;
	zoom: 1;
	position: relative;
	-webkit-box-shadow: 0px 0px 1px #999;
	-moz-box-shadow: 0px 0px 1px #999;
	-ms-box-shadow: 0px 0px 1px #999;
	box-shadow: 0px 0px 1px #999;
}
.admin .item:hover {
	-webkit-box-shadow: 0px 0px 5px #666;
	-moz-box-shadow: 0px 0px 5px #666;
	-ms-box-shadow: 0px 0px 5px #666;
	box-shadow: 0px 0px 5px #666;
}
.admin .item:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.admin .item:hover .utilities {
	max-height: 100px;
}
.admin .item > .item-title {
	margin: 10px 0 0;
	font-size: 16px;
	font-weight: 700;
}
.admin .item > .item-title > span {
	display: block;
	font-size: 13px;
}
.admin .item > .item-title + * {
	margin-top: 5px;
}
.admin .item a {
	display: block;
}
